.article-submit-button {
  height: 42px;
  padding: 0 24px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s;
  border-radius: 8px;
  margin: 0;
  align-self: center;
}

.article-submit-button:hover {
  background-color: #2563eb;
}
