.header__author_name {
  align-self: center;
  margin: 0 8px 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #1e293b;
}

@media all and (max-width: 540px) {
  .header__author_name {
    font-size: 12px;
  }
}
