.header__author_name {
  align-self: flex-end;
  margin: 1px 0 1px auto;
height: 16px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 122% */
text-align: right;
color: #FFFFFF;
}

@media all and (max-width: 540px) {
  .header__author_name {
    /* margin-right: 15px; */
    font-size: 12px;
line-height: 12px;
  }
}
