.registration__underbutton {
  display: block;
  margin-top: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #3b82f6;
  text-decoration: none;
}

.registration__underbutton:hover {
  color: #2563eb;
  text-decoration: underline;
}
